# Sample configuration file

[default]
requirements = test/requirements.in
index_url = https://pypi.org/simple/
# For a private index, e.g. Nexus: index_url = http://nexus.example.com:8081/repository/pypi-all/simple
teamcity_tgt_root = piptegrator_output
